 <!-- Footer - Bottom Navigation -->
 <footer>
  <nav class="navbar fixed-bottom bg-dark">
    
      <div class="container justify-content-end">
          <h7 class="navbar-text text-white">&copy; 2022. All rights reserved.</h7>
      </div>
    
  </nav>
</footer>